body {
  background-image: url('img/background1.jpg');
}
h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}
.kotakKomputer {
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0 0;
  border: 5px solid crimson;
}

.pemenang {
  width: 180px;
  height: 80px;
  border-radius: 20px;
  border: 4px solid crimson;
  background-color: white;
  position: absolute;
  top: 270px;
  z-index: 999;
  box-sizing: border-box;
  color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.kotakUser {
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 15px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 50px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 5px solid crimson;
}

.kotakKomputer img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.kotakUser img {
  margin-top: 50px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
